In [1]:
import numpy as np
import pandas as pd

In [2]:
df =pd.read_csv("data/actors.csv")
df

             kdrama_name          actor
0     100 Days My Prince  Doh Kyung Soo
1     100 Days My Prince    Nam Ji Hyun
2     100 Days My Prince    Kim Seon Ho
3     100 Days My Prince     Han So Hee
4     100 Days My Prince     Jo Sung Ha
...                  ...            ...
7600    Zombie Detective   Park Ju Hyun
7601    Zombie Detective    Tae Hang Ho
7602    Zombie Detective   Lee Joong Ok
7603    Zombie Detective      Ahn Se Ha
7604    Zombie Detective    Hwang Bo Ra

[7605 rows x 2 columns]

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df1 =df.head(11)
df1

           kdrama_name           actor
0   100 Days My Prince   Doh Kyung Soo
1   100 Days My Prince     Nam Ji Hyun
2   100 Days My Prince     Kim Seon Ho
3   100 Days My Prince      Han So Hee
4   100 Days My Prince      Jo Sung Ha
5   100 Days My Prince   Kim Jae Young
6     12 Signs of Love     Ohn Joo Wan
7     12 Signs of Love    Yoon Jin Seo
8     12 Signs of Love    Lee Yong Woo
9     12 Signs of Love     Bae Geu Rin
10    12 Signs of Love     Go Joon Hee

In [5]:
df1.shape

(11, 2)

In [6]:
df1["age"] = np.arange(11)

C:\Users\USER\AppData\Local\Temp\ipykernel_1608\3096939849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["age"] = np.arange(11)

In [7]:
df1.loc[:, 'new_age'] = np.linspace(10,50,11)

C:\Users\USER\AppData\Local\Temp\ipykernel_1608\739991448.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.loc[:, 'new_age'] = np.linspace(10,50,11)

In [8]:
df1

           kdrama_name           actor  age  new_age
0   100 Days My Prince   Doh Kyung Soo    0     10.0
1   100 Days My Prince     Nam Ji Hyun    1     14.0
2   100 Days My Prince     Kim Seon Ho    2     18.0
3   100 Days My Prince      Han So Hee    3     22.0
4   100 Days My Prince      Jo Sung Ha    4     26.0
5   100 Days My Prince   Kim Jae Young    5     30.0
6     12 Signs of Love     Ohn Joo Wan    6     34.0
7     12 Signs of Love    Yoon Jin Seo    7     38.0
8     12 Signs of Love    Lee Yong Woo    8     42.0
9     12 Signs of Love     Bae Geu Rin    9     46.0
10    12 Signs of Love     Go Joon Hee   10     50.0

In [9]:
df1.iloc[0]

kdrama_name    100 Days My Prince
actor               Doh Kyung Soo
age                             0
new_age                      10.0
Name: 0, dtype: object

In [10]:
df1.iloc[7,2]

7

In [11]:
df1.iloc[:,1:]

             actor  age  new_age
0    Doh Kyung Soo    0     10.0
1      Nam Ji Hyun    1     14.0
2      Kim Seon Ho    2     18.0
3       Han So Hee    3     22.0
4       Jo Sung Ha    4     26.0
5    Kim Jae Young    5     30.0
6      Ohn Joo Wan    6     34.0
7     Yoon Jin Seo    7     38.0
8     Lee Yong Woo    8     42.0
9      Bae Geu Rin    9     46.0
10     Go Joon Hee   10     50.0

In [12]:
df1.iloc[:,[0,3]]

           kdrama_name  new_age
0   100 Days My Prince     10.0
1   100 Days My Prince     14.0
2   100 Days My Prince     18.0
3   100 Days My Prince     22.0
4   100 Days My Prince     26.0
5   100 Days My Prince     30.0
6     12 Signs of Love     34.0
7     12 Signs of Love     38.0
8     12 Signs of Love     42.0
9     12 Signs of Love     46.0
10    12 Signs of Love     50.0

In [13]:
df1

           kdrama_name           actor  age  new_age
0   100 Days My Prince   Doh Kyung Soo    0     10.0
1   100 Days My Prince     Nam Ji Hyun    1     14.0
2   100 Days My Prince     Kim Seon Ho    2     18.0
3   100 Days My Prince      Han So Hee    3     22.0
4   100 Days My Prince      Jo Sung Ha    4     26.0
5   100 Days My Prince   Kim Jae Young    5     30.0
6     12 Signs of Love     Ohn Joo Wan    6     34.0
7     12 Signs of Love    Yoon Jin Seo    7     38.0
8     12 Signs of Love    Lee Yong Woo    8     42.0
9     12 Signs of Love     Bae Geu Rin    9     46.0
10    12 Signs of Love     Go Joon Hee   10     50.0

In [14]:
df1["age"]

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
Name: age, dtype: int32

In [15]:
df1.loc[2]

kdrama_name    100 Days My Prince
actor                 Kim Seon Ho
age                             2
new_age                      18.0
Name: 2, dtype: object

In [19]:
grp = df1.groupby("kdrama_name")
grp

In [20]:
grp.count()

                    actor  age  new_age
kdrama_name
100 Days My Prince      6    6        6
12 Signs of Love        5    5        5

In [22]:
grp.describe().transpose()

kdrama_name    100 Days My Prince  12 Signs of Love
age     count            6.000000          5.000000
        mean             2.500000          8.000000
        std              1.870829          1.581139
        min              0.000000          6.000000
        25%              1.250000          7.000000
        50%              2.500000          8.000000
        75%              3.750000          9.000000
        max              5.000000         10.000000
new_age count            6.000000          5.000000
        mean            20.000000         42.000000
        std              7.483315          6.324555
        min             10.000000         34.000000
        25%             15.000000         38.000000
        50%             20.000000         42.000000
        75%             25.000000         46.000000
        max             30.000000         50.000000

In [23]:
grp.min()

                           actor  age  new_age
kdrama_name
100 Days My Prince    Han So Hee    0     10.0
12 Signs of Love     Bae Geu Rin    6     34.0

In [24]:
grp.max()

                            actor  age  new_age
kdrama_name
100 Days My Prince  Doh Kyung Soo    5     30.0
12 Signs of Love      Ohn Joo Wan   10     50.0

In [25]:
grp.mean()

                    age  new_age
kdrama_name
100 Days My Prince  2.5     20.0
12 Signs of Love    8.0     42.0

In [30]:
df1["age"].apply(lambda x:x*2)

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
Name: age, dtype: int64

In [32]:
df1.columns

Index(['kdrama_name', 'actor', 'age', 'new_age'], dtype='object')

In [33]:
df1.index

RangeIndex(start=0, stop=11, step=1)

In [35]:
df1.isnull()

    kdrama_name  actor    age  new_age
0         False  False  False    False
1         False  False  False    False
2         False  False  False    False
3         False  False  False    False
4         False  False  False    False
5         False  False  False    False
6         False  False  False    False
7         False  False  False    False
8         False  False  False    False
9         False  False  False    False
10        False  False  False    False

In [36]:
df1.sort_values(by="actor")

           kdrama_name           actor  age  new_age
9     12 Signs of Love     Bae Geu Rin    9     46.0
10    12 Signs of Love     Go Joon Hee   10     50.0
3   100 Days My Prince      Han So Hee    3     22.0
4   100 Days My Prince      Jo Sung Ha    4     26.0
5   100 Days My Prince   Kim Jae Young    5     30.0
2   100 Days My Prince     Kim Seon Ho    2     18.0
8     12 Signs of Love    Lee Yong Woo    8     42.0
1   100 Days My Prince     Nam Ji Hyun    1     14.0
7     12 Signs of Love    Yoon Jin Seo    7     38.0
0   100 Days My Prince   Doh Kyung Soo    0     10.0
6     12 Signs of Love     Ohn Joo Wan    6     34.0